/* Text styles */

@mixin heading-1 {
    font-family: $font-family;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.438rem;
} 

@mixin heading-2 {
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}

@mixin brodtext {
    font-family: $font-family;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.875rem;
}

@mixin small-text {
    font-family: $font-family;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.169rem;
}

@mixin label-text {
    font-family: $font-family;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.438rem;
}

@mixin dropdown-text {
    font-family: $font-family;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
}

@mixin button-text {
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}
