/* Spacing */
$spacing-0: 0rem; //0px
$spacing-100: 0.5rem; //8px
$spacing-200: 1rem; //16px
$spacing-300: 1.5rem; //24px
$spacing-400: 2rem; //32px
$spacing-500: 2.5rem; //40px
$spacing-600: 3rem; //48px
$spacing-700: 3.5rem; //56px
$spacing-800: 4rem; //64px

/* Colors */
$white_text: hsl(0, 100%, 100%);
$dark_text: hsl(0, 0%, 6%);

$primary_red: hsl(342, 68%, 33%);
$primary_grey: hsl(235, 46%, 20%);

$dark_grey: hsl(0, 0%, 28%);
$dark_grey_60: hsla(0, 0%, 28%, 0.6);
$dark_grey_70: hsla(0, 0%, 28%, 0.7);

$light_grey: hsl(0, 0%, 59%);
$light_grey_70: hsla(0, 0%, 59%, 0.7);

$button_stroke: hsla(0, 0%, 92%, 0.75);

$overlap_map_lightmode: hsla(0, 0%, 24%, 0.1);
$overlap_map_darkmode: hsla(0, 0%, 28%, 0.78);
$card_background_lightmode: hsla(0, 0%, 98%, 0.7);

$white_opacity_10: hsla(0, 0%, 100%, 0.1);
$white_opacity_25: hsla(0, 0%, 100%, 0.25);
$white_opacity_50: hsla(0, 0%, 100%, 0.5);
$white_opacity_60: hsla(0, 0%, 100%, 0.6);
$white_opacity_70: hsla(0, 0%, 100%, 0.7);
$white_opacity_75: hsla(0, 0%, 100%, 0.75);
$white_opacity_80: hsla(0, 0%, 100%, 0.8);
$shite_opacity_85: hsla(0, 0%, 100%, 0.85);


/* Typography */
$font-family: 'verdana', sans-serif;




