@use './variables' as *;
@use './mixins' as *;

/* Map & zone */
html, body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  color: $white_text;
}

p{
  @include brodtext;
}
button {
  cursor: pointer;
  @include button-text;
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background-color: $dark_grey ;
}

/* Main */
main {
  padding-top: 3rem;
  padding-bottom: 3.813rem;
  height: 100%;
}

/* VIEWS */
.view {
  display: none;
  height: 100%;
}

.view.active {
  display: block;
}

/* MAP */
#map {
  /* height: calc(100vh - 48px - 64px); */
  height: 100vh;
  z-index: 0;
}

/* BUNDKNAP */
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.813rem;
  background: $dark_grey;
  color: $white_text;
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include button-text;
}

/* Fjern zoomknapper */
.leaflet-control-zoom {
    display: none;
}

/* POPUP */
.popup {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: $dark_grey;
  border: 1px solid #1e293b;
  padding: $spacing-400;
  max-width: 20.625rem;
  border-radius: 1rem;
  z-index: 2000;
  margin-top: 0;

  .popup-header {
    display: flex;
    gap: $spacing-100;
    margin-bottom: 0.5rem;
    align-items: flex-start;
    border-bottom: 1px solid $white-text;
    margin-left: -$spacing-400;
    margin-right: -$spacing-400;
    padding-left: $spacing-400;
    padding-right: $spacing-400;

    .alert-wrapper {
      height: 0.5rem;
        img {
        background-color: $white_text;
        padding: 0.2rem;
        width: 70%;
      }
    }
    .popup-text {
      h2 {
        @include dropdown-text;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
    } 
  }

  .popup-actions {
  display: flex;
  gap: 0.5rem;

   #goToMissionBtn, #closePopupBtn {
    padding: 0;
   }
  }
}




.popup button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background: $dark_grey;
  color: $white_text;
}

.hidden {
  display: none;
}


/* Mission card */
.mission-card {
    background-color: $primary_grey;
}