@use "./variables" as *;
@use "./mixins" as *;

/* Map & zone */
html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  color: $white_text;
}

p{
  @include brodtext;
}
button {
  cursor: pointer;
  @include button-text;
}


/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background-color: $dark_grey;
}

/* Main */
main {
  padding-top: 3rem;
  padding-bottom: 3.813rem;
  height: 100%;
}

/* MAP */
#map {
  /* height: calc(100vh - 48px - 64px); */
  height: 100vh;
  z-index: 0;
}

/* BUNDKNAP */
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.813rem;
  background: $dark_grey;
  color: $white_text;
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include button-text;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Fjern zoomknapper */
.leaflet-control-zoom {
  display: none;
}

/* POPUP */
.popup {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: $dark_grey;
  border: 1.5px solid $white-text;
  border-radius: 1rem;
  z-index: 2000;
  margin-top: 0;
  max-width: 22.5rem;
  min-width: 18.5rem;

  .popup-header {
    display: flex;
    gap: 1.5rem;
    padding: $spacing-300;

    align-items: flex-start;
    border-bottom: 1px solid $white-text;

    .alert-wrapper {
      height: 0.5rem;
      width: 20%;
        img {
        background-color: $white_text;
        padding: 0.2rem;
        width: 100%;
      }
    }
    .popup-text {
      h2 {
        @include dropdown-text;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0;
      }
    } 
  }

  .popup-actions {
  display: flex;

   #goToMissionBtn, #closePopupBtn {
    padding: $spacing-100;
     &:hover {
      background-color: $light_grey;
     }
   }

   #goToMissionBtn {
    border-radius: 0 0 1rem 0;
    border-left: 1px solid $white-text;
   }
   #closePopupBtn {
    border-radius: 0 0 0 1rem;
  }
}
}

.popup button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background: $dark_grey;
  color: $white_text;
}

.hidden {
  display: none;
}

/* task view */

/* VIEWS */
.view {
  display: none;
  background-color: $dark_grey_70;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  min-height: 100%;
}

.view.active {
  display: block;
}

/* List Wrappers */
#activeList-wrapper,
#completedList-wrapper {
  border: 1px solid $light_grey;
  padding: $spacing-100;
  border-radius: 10px;
}

#activeMissionList,
#completedList-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-200;
}

/* Mission card */

.mission-card {
  padding: $spacing-200;
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
  border-radius: 5px;
  border: 1px solid $white_opacity_60;
}

.mission-card-header {
  display: flex;
  justify-content: space-between;
  color: $white_opacity_70;
  @include dropdown-text;
  // border-bottom: 1px solid $white_opacity_10;
  // padding-bottom: $spacing-100;
}

.mission-card-header-group {
  align-items: center;
  display: flex;
  gap: $spacing-200;
}

/* Mission card states */
.mission-desc-wrapper.collapsed {
  display: none;
}

.mission-card.state-locked {
  background-color: $primary_grey;
}

.mission-card.state-active {
  background-color: $primary_grey;
}

.mission-card.state-completed {
  background-color: #dc1414;
}
