@use "./variables" as *;
@use "./mixins" as *;

/* Map & zone */
html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  color: $white_text;
}

p {
  @include brodtext;
}
button {
  cursor: pointer;
  @include button-text;
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background-color: $dark_grey;
}

/* Main */
main {
  padding-top: 3rem;
  padding-bottom: 3.813rem;
  height: 100%;
}

/* MAP */
#map {
  /* height: calc(100vh - 48px - 64px); */
  height: 100vh;
  z-index: 0;
}

/* BUNDKNAP */
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.813rem;
  background: $dark_grey;
  color: $white_text;
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include button-text;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Fjern zoomknapper */
.leaflet-control-zoom {
  display: none;
}

/* INTRO POPUP */
#introPopup {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: $dark_grey;
  border: 1.5px solid $white-text;
  border-radius: 1rem;
  z-index: 2000;
  max-width: 22.5rem;
  min-width: 16.5rem;
  padding: $spacing-400 $spacing-300;

  .intro-popup-text {
    padding: $spacing-200;
    border: 1px solid $white-text;
    border-radius: 1rem;
    margin-bottom: $spacing-300;
  }

  #introExplanation {
    padding: $spacing-200;
    background-color: $white_opacity_10;
    margin-bottom: $spacing-300;
  }

  #startScenarioBtn {
    padding: 10px 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--white-text, #fff);
    background-color: var(--primary_red, #8d1b3d);
    color: $white_text;
    @include button-text;

    &:hover {
      background-color: var(--primary_red, 0.5);
    }
  }
}

/* POPUP */
.popup {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: $dark_grey;
  border: 1.5px solid $white-text;
  border-radius: 1rem;
  z-index: 2000;
  margin-top: 0;
  max-width: 22.5rem;
  min-width: 18.5rem;

  .popup-header {
    display: flex;
    gap: 1.5rem;
    padding: $spacing-300;

    align-items: flex-start;
    border-bottom: 1px solid $white-text;

    .alert-wrapper {
      height: 0.5rem;
      width: 20%;
      img {
        background-color: $white_text;
        padding: 0.2rem;
        width: 100%;
      }
    }

    .popup-text {
      h2 {
        @include dropdown-text;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  .popup-actions {
    display: flex;

    #goToMissionBtn,
    #closePopupBtn {
      padding: $spacing-100;
      &:hover {
        background-color: $light_grey;
      }
    }

    #goToMissionBtn {
      border-radius: 0 0 1rem 0;
      border-left: 1px solid $white-text;
    }
    #closePopupBtn {
      border-radius: 0 0 0 1rem;
    }
  }
}

.popup button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background: $dark_grey;
  color: $white_text;
}

.hidden {
  display: none;
}

/* task view */

/* VIEWS */
.view {
  display: none;
  background-color: $dark_grey_70;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  min-height: 100%;
  padding: 0.5rem;
}

.view.active {
  display: block;
}

/* List Wrappers */
#activeList-wrapper,
#completedList-wrapper {
  border: 1px solid $light_grey;
  padding: $spacing-100;
  border-radius: 10px;
}

#activeList-wrapper {
  margin-bottom: $spacing-200;
}

#activeMissionList,
#completedList {
  display: flex;
  flex-direction: column;
  gap: $spacing-200;
}

/* Mission card */

.mission-card {
  padding: $spacing-200;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid $white_opacity_60;

  h2 {
    @include heading-2;
  }

  h3,
  .mission-title {
    @include label-text;
  }
}

.mission-card-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  @include dropdown-text;

  .state-locked & {
    cursor: default;
  }
}

.mission-card-header-group {
  align-items: center;
  display: flex;
  gap: $spacing-200;
}

/* Mission card states */

.mission-desc-wrapper {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.35s ease, opacity 0.25s ease;
  opacity: 1;
}

.mission-desc-wrapper.collapsed {
  max-height: 0;
  opacity: 0;
}

.mission-desc-text {
  display: flex;
  gap: $spacing-100;
  margin-top: $spacing-200;
  padding-top: $spacing-200;
  border-top: 1px solid $white_opacity_10;
}

.mission-desc {
  @include brodtext;
}

.mission-card.state-locked {
  background-color: $primary_grey;
}

.mission-card.state-active {
  background-color: $primary_grey;
  gap: 0;
}

.mission-card.state-completed {
  background-color: $dark_grey_70;
}

/*Ikoner*/
.material-symbols-outlined {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}

.accordion-icon {
  transition: transform 0.25s ease;
}

.mission-card.is-collapsed .accordion-icon {
  transform: rotate(0deg);
}

.mission-card.is-open .accordion-icon {
  transform: rotate(90deg);
}

//accordion

.complete-btn {
  padding: 10px 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--white-text, #fff);
  background-color: var(--primary_red, #8d1b3d);
  color: $white_text;
  @include button-text;

  &:hover {
    background-color: var(--primary_red, 0.5);
  }
}

.complete-btn:disabled,
.state-completed .complete-btn {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-color: var(--primary_red, #8d1b3d);
  }
}

/*radio button*/
.option-btn input[type="radio"] {
  display: none;
}

.option-btn {
  border-radius: 5px;
  border: 1px solid $light_grey;
  background-color: $white_opacity_10;
  display: flex;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: $spacing-200;
  @include brodtext;
}
.option-btn:hover {
  background: $white_opacity_25;
}
.state-completed .option-btn:hover {
  background: none !important; // eller samme som default
  cursor: not-allowed;
}

.state-completed .option-btn:has(input[type="radio"]:checked) {
  background: $white_opacity_50;
  cursor: not-allowed;
}
.state-locked .option-btn,
.state-completed .option-btn {
  opacity: 0.9;
  cursor: not-allowed;
  background-color: var(--primary_red);
}

/**mission icon**/
.mission-desc-icon.material-symbols-outlined {
  font-size: $spacing-400;
  background-color: $white_opacity_80;
  padding: $spacing-200;
  color: $primary_grey;
  max-height: 100%;
}
