@use "./variables" as *;
@use "./mixins" as *;
@use "./theme" as *;

/* Map & zone */
html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  color: var(--text-color);
  font-size: 16px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

p {
  @include brodtext;
}
button {
  cursor: pointer;
  @include button-text;
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background-color: var(--bg-color);

  @media (min-width: 768px) {
    height: 5.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
}

.logo {
  width: 12rem;
  height: auto;
}

.logo-svg {
  width: 100%;
  height: 100%;
}

.logo-path {
  fill: white;
}

html.light-mode .logo-path {
  fill: var(--primary_red);
}

.topbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  @media (min-width: 768px) {
    flex: none;
    width: 100%;
    justify-content: space-between;
  }
}

.topbar-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  flex: 1;

  @media (min-width: 768px) {
    flex: none;
    width: 100%;
  }

  .progress-container {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    @media (min-width: 768px) {
      max-width: 400px;
      justify-content: center;
    }
  }
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
}

.progress-bar {
  width: 12rem;
  height: 0.5rem;
  background-color: var(--border-color);
  border-radius: 0.25rem;
  overflow: hidden;

  .topbar-bottom & {
    width: 100%;
    height: 0.5rem;
    background-color: rgba(255, 250, 250, 0.852);
  }

  @media (min-width: 768px) {
    width: 15rem;
    height: 0.75rem;
  }
}

.progress-fill {
  height: 100%;
  background-color: var(--primary_red);
  border-radius: 0.25rem;
  transition: width 0.3s ease;
  width: 0%;
}

.progress-text {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  min-width: 2rem;

  .topbar-bottom & {
    font-size: 1.2rem;
    text-align: center;
    font-family: "TT Chocolates", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
}

/*  Toggle knap */
.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);

  .material-symbols-outlined {
    font-size: 1.5rem;
  }
}

.theme-toggle input {
  display: none;
}

.toggle-switch {
  width: 3.5rem;
  height: 1.75rem;
  background-color: var(--border-color);
  border-radius: 1.75rem;
  position: relative;
  transition: background-color 0.3s ease;

  @media (min-width: 768px) {
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    top: 0.125rem;
    left: 0.125rem;
    transition: left 0.3s ease;

    @media (min-width: 768px) {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.theme-toggle input:checked ~ .toggle-switch {
  background-color: $primary_blue;

  &::after {
    left: calc(100% - 1.625rem);

    @media (min-width: 768px) {
      left: calc(100% - 1.375rem);
    }
  }
}

/* Main */
main {
  padding-top: 5rem;
  padding-bottom: 3.813rem;
  height: 100%;

  @media (min-width: 768px) {
    padding-top: 5.5rem;
  }
}

/* MAP */
#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  filter: brightness(0.9) contrast(1);
  transition: filter 0.3s ease;
}

/* BUNDKNAP */
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: $dark_grey;
  color: $white_text;
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include button-text;
}

html.light-mode .bottom-btn {
  background: $white_text;
  color: $dark_text;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Fjern zoomknapper */
.leaflet-control-zoom {
  display: none;
}

/* INTRO POPUP */
#introPopup {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-color);
  border: 1.5px solid var(--text-color);
  border-radius: 1rem;
  z-index: 2000;
  max-width: 22.5rem;
  min-width: 16.5rem;
  padding: $spacing-400 $spacing-300;

  @media (min-width: 768px) {
    top: 6.5rem;
  }

  .intro-popup-text {
    padding: $spacing-200;
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    margin-bottom: $spacing-300;
  }

  #introExplanation {
    padding: $spacing-200;
    background-color: $white_opacity_10;
    margin-bottom: $spacing-300;
  }

  #startScenarioBtn {
    padding: 10px 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--white-text, #fff);
    background-color: var(--primary_red, #8d1b3d);
    color: $white_text;
    @include button-text;

    &:hover {
      background-color: var(--primary_red, 0.5);
    }
  }
}

/* POPUP */
.popup {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-color);
  border: 1.5px solid var(--text-color);
  border-radius: 1rem;
  z-index: 2000;
  margin-top: 0;
  max-width: 22.5rem;
  min-width: 18.5rem;

  @media (min-width: 768px) {
    top: 6.5rem;
  }

  .popup-header {
    display: flex;
    gap: 1.5rem;
    padding: $spacing-300;

    align-items: flex-start;
    border-bottom: 1px solid var(--text-color);

    .alert-wrapper {
      height: 0.5rem;
      width: 20%;
      img {
        background-color: $white_text;
        padding: 0.2rem;
        width: 100%;
      }
    }

    .popup-text {
      h2 {
        @include dropdown-text;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  .popup-actions {
    display: flex;

    #goToMissionBtn,
    #closePopupBtn {
      padding: $spacing-100;
      &:hover {
        background-color: $light_grey;
      }
    }

    #goToMissionBtn {
      border-radius: 0 0 1rem 0;
      border-left: 1px solid $white-text;
    }
    #closePopupBtn {
      border-radius: 0 0 0 1rem;
    }
  }
}

.popup button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background: var(--bg-color);
  color: var(--text-color);
}

.hidden {
  display: none;
}

/* task view */

/* VIEWS */
.view {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 0.5rem;
}

.view.active {
  display: block;
}

#mapView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#mapView.active {
  pointer-events: auto;
}

#taskView {
  display: none;
}

html.light-mode #taskView {
  backdrop-filter: blur(10px);
  width: 100%;
  background-color: none;
  background-color: $white_opacity_10;
}

#taskView.active {
  display: block;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: $dark_grey_60;
}

/* List Wrappers */
#activeList-wrapper,
#completedList-wrapper {
  border: 1px solid var(--border-color);
  padding: $spacing-100;
  border-radius: 10px;
}

#completedList-wrapper {
  margin-bottom: $spacing-800;
}

#activeList-wrapper {
  margin-bottom: $spacing-200;
}

#activeMissionList,
#completedMissionList {
  display: flex;
  flex-direction: column;
  gap: $spacing-200;
}

/* Mission card */

.mission-card {
  padding: $spacing-200;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--task-text);

  h2 {
    @include heading-2;
  }

  h3,
  .mission-title {
    @include label-text;
  }
}

.mission-card-header {
  display: flex;
  justify-content: space-between;
  color: var(--task-text);
  cursor: pointer;
  @include dropdown-text;

  .state-locked & {
    cursor: default;
  }
}

.mission-card-header-group {
  align-items: center;
  display: flex;
  gap: $spacing-200;
}

/* Mission card states */

.mission-desc-wrapper {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.35s ease, opacity 0.25s ease;
  opacity: 1;
}

.mission-desc-wrapper.collapsed {
  max-height: 0;
  opacity: 0;
}

.mission-desc-text {
  display: flex;
  gap: $spacing-100;
  margin-top: $spacing-200;
  padding-top: $spacing-200;
  border-top: 1px solid $white_opacity_10;
}

.mission-desc {
  @include brodtext;
}

.mission-card.state-locked {
  background-color: $primary_grey;
}

.mission-card.state-active {
  background-color: $primary_grey;
  gap: 0;
}

.mission-card.state-completed {
  background-color: $dark_grey_70;
}

/*Ikoner*/
.material-symbols-outlined {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}

.accordion-icon {
  transition: transform 0.25s ease;
}

.mission-card.is-collapsed .accordion-icon {
  transform: rotate(0deg);
}

.mission-card.is-open .accordion-icon {
  transform: rotate(90deg);
}

//accordion

.complete-btn {
  padding: 10px 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--white-text, #fff);
  background-color: var(--primary_red, #8d1b3d);
  color: $white_text;
  @include button-text;

  &:hover {
    background-color: var(--primary_red, 0.5);
  }
}

.complete-btn:disabled,
.state-completed .complete-btn {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-color: var(--primary_red, #8d1b3d);
  }
}

/*radio button*/
.option-btn input[type="radio"] {
  display: none;
}

.option-btn {
  border-radius: 5px;
  border: 1px solid $light_grey;
  background-color: $white_opacity_10;
  display: flex;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: $spacing-200;
  @include brodtext;
}
.option-btn:hover {
  background: $white_opacity_25;
}

.option-btn:has(input[type="radio"]:checked) {
  background: $white_opacity_50;
  border-color: $white_text;
}

.state-completed .option-btn:hover {
  background: none !important; // eller samme som default
  cursor: not-allowed;
}

.state-completed .option-btn:has(input[type="radio"]:checked) {
  background: $white_opacity_50;
  cursor: not-allowed;
}
.state-locked .option-btn,
.state-completed .option-btn {
  opacity: 0.9;
  cursor: not-allowed;
  background-color: var(--primary_red);
}

/**mission icon**/
.mission-desc-icon.material-symbols-outlined {
  font-size: $spacing-400;
  background-color: $white_opacity_80;
  padding: $spacing-200;
  color: $primary_grey;
  max-height: 100%;
}

/* Compass og marker rotation */
#enableCompass {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1000;
  padding: $spacing-200;
  background: $primary_red;
  border: none;
  border-radius: 8px;
}

.leaflet-marker-icon {
  /* Prevent Leaflet's internal transitions from fighting the rotation */
  transition: transform 0.1s linear !important;
  transform-origin: center;
}

/* Coordinates Display */
#coords {
  font-size: 0.75rem;
  color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 2.7rem;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    font-size: 1rem;
    top: auto;
  }
}
