/* Spacing */
/* Colors */
/* Typography */
/* Text styles */
/* Map & zone */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "verdana", sans-serif;
  color: hsl(0, 100%, 100%);
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background-color: hsl(0, 0%, 28%);
}

/* Main */
main {
  padding-top: 3rem;
  padding-bottom: 3.813rem;
  height: 100%;
}

/* MAP */
#map {
  /* height: calc(100vh - 48px - 64px); */
  height: 100vh;
  z-index: 0;
}

/* BUNDKNAP */
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.813rem;
  background: hsl(0, 0%, 28%);
  color: hsl(0, 100%, 100%);
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Fjern zoomknapper */
.leaflet-control-zoom {
  display: none;
}

/* POPUP */
.popup {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0, 0%, 28%);
  border: 1px solid #1e293b;
  padding: 1rem;
  width: 70%;
  max-width: 22.5rem;
  border-radius: 1rem;
  z-index: 2000;
}

.popup-actions {
  display: flex;
  gap: 0.5rem;
}

.popup button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background: hsl(0, 0%, 28%);
  color: hsl(0, 100%, 100%);
}

.hidden {
  display: none;
}

/* task view */
/* VIEWS */
.view {
  display: none;
  background-color: hsla(0, 0%, 28%, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  min-height: 100%;
}

.view.active {
  display: block;
}

/* List Wrappers */
#activeList-wrapper,
#completedList-wrapper {
  border: 1px solid hsl(0, 0%, 59%);
  padding: 0.5rem;
  border-radius: 10px;
}

#activeMissionList,
#completedList-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Mission card */
.mission-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 100%, 0.6);
}

.mission-card-header {
  display: flex;
  justify-content: space-between;
  color: hsla(0, 0%, 100%, 0.7);
  cursor: pointer;
  font-family: "verdana", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.mission-card-header:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.mission-card-header-group {
  align-items: center;
  display: flex;
  gap: 1rem;
}

/* Mission card states */
.mission-desc-wrapper {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.35s ease, opacity 0.25s ease;
  opacity: 1;
}

.mission-desc-wrapper.collapsed {
  max-height: 0;
  opacity: 0;
}

.mission-card.state-locked {
  background-color: hsl(174, 18%, 30%);
}

.mission-card.state-active {
  background-color: hsl(174, 18%, 30%);
}

.mission-card.state-completed {
  background-color: #dc1414;
}

/*Ikoner*/
.material-symbols-outlined {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}

.accordion-icon {
  transition: transform 0.25s ease;
}

.mission-card.is-collapsed .accordion-icon {
  transform: rotate(0deg);
}

.mission-card.is-open .accordion-icon {
  transform: rotate(90deg);
}/*# sourceMappingURL=style.css.map */