@charset "UTF-8";
/* Spacing */
/* Colors */
/* Light Mode Colors */
/* Typography */
/* Text styles */
:root {
  --text-color: hsl(0, 100%, 100%);
  --bg-color: hsl(0, 0%, 28%);
  --card-bg: hsla(0, 0%, 28%, 0.7);
  --border-color: hsl(0, 0%, 59%);
  --task-text: hsl(0, 100%, 100%);
  --primary_red: hsl(342, 68%, 33%);
}

html.light-mode {
  --text-color: hsl(0, 0%, 20%);
  --bg-color: hsl(0, 0%, 85%);
  --card-bg: hsla(0, 0%, 90%, 0.8);
  --border-color: hsl(0, 0%, 40%);
}
html.light-mode #map {
  filter: brightness(1) contrast(1);
}
/* _variables.scss = Farver der bruges når siden bygges
_theme.scss = Farver der kan ændres når siden køres

Det er derfor :root CSS variabler bruges i _theme.scss - fordi JavaScript kan ændre dem  */
/* Map & zone */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "verdana", sans-serif;
  color: var(--text-color);
  font-size: 16px;
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 18px;
  }
}

p {
  font-family: "verdana", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
}

button {
  cursor: pointer;
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background-color: var(--bg-color);
}
@media (min-width: 768px) {
  .topbar {
    height: 5.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
}

.logo {
  width: 12rem;
  height: auto;
}

.logo-svg {
  width: 100%;
  height: 100%;
}

.logo-path {
  fill: white;
}

html.light-mode .logo-path {
  fill: var(--primary_red);
}

.topbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
@media (min-width: 768px) {
  .topbar-top {
    flex: none;
    width: 100%;
    justify-content: space-between;
  }
}

.topbar-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  flex: 1;
}
@media (min-width: 768px) {
  .topbar-bottom {
    flex: none;
    width: 100%;
  }
}
.topbar-bottom .progress-container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .topbar-bottom .progress-container {
    max-width: 400px;
    justify-content: center;
  }
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
}

.progress-bar {
  width: 12rem;
  height: 0.5rem;
  background-color: var(--border-color);
  border-radius: 0.25rem;
  overflow: hidden;
}
.topbar-bottom .progress-bar {
  width: 100%;
  height: 0.5rem;
  background-color: rgba(255, 250, 250, 0.852);
}
@media (min-width: 768px) {
  .progress-bar {
    width: 15rem;
    height: 0.75rem;
  }
}

.progress-fill {
  height: 100%;
  background-color: var(--primary_red);
  border-radius: 0.25rem;
  transition: width 0.3s ease;
  width: 0%;
}

.progress-text {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  min-width: 2rem;
}
.topbar-bottom .progress-text {
  font-size: 1.2rem;
  text-align: center;
  font-family: "TT Chocolates", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
}

/*  Toggle knap */
.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
}
.theme-container .material-symbols-outlined {
  font-size: 1.5rem;
}

.theme-toggle input {
  display: none;
}

.toggle-switch {
  width: 3.5rem;
  height: 1.75rem;
  background-color: var(--border-color);
  border-radius: 1.75rem;
  position: relative;
  transition: background-color 0.3s ease;
}
@media (min-width: 768px) {
  .toggle-switch {
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
  }
}
.toggle-switch::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  top: 0.125rem;
  left: 0.125rem;
  transition: left 0.3s ease;
}
@media (min-width: 768px) {
  .toggle-switch::after {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.theme-toggle input:checked ~ .toggle-switch {
  background-color: hsl(207, 89%, 58%);
}
.theme-toggle input:checked ~ .toggle-switch::after {
  left: calc(100% - 1.625rem);
}
@media (min-width: 768px) {
  .theme-toggle input:checked ~ .toggle-switch::after {
    left: calc(100% - 1.375rem);
  }
}

/* Main */
main {
  padding-top: 5rem;
  padding-bottom: 3.813rem;
  height: 100%;
}
@media (min-width: 768px) {
  main {
    padding-top: 5.5rem;
  }
}

/* MAP */
#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  filter: brightness(0.9) contrast(1);
  transition: filter 0.3s ease;
}

/* BUNDKNAP */
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: hsl(0, 0%, 28%);
  color: hsl(0, 100%, 100%);
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

html.light-mode .bottom-btn {
  background: hsl(0, 100%, 100%);
  color: hsl(0, 0%, 6%);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Fjern zoomknapper */
.leaflet-control-zoom {
  display: none;
}

/* INTRO POPUP */
#introPopup {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-color);
  border: 1.5px solid var(--text-color);
  border-radius: 1rem;
  z-index: 2000;
  max-width: 22.5rem;
  min-width: 16.5rem;
  padding: 2rem 1.5rem;
}
@media (min-width: 768px) {
  #introPopup {
    top: 6.5rem;
  }
}
#introPopup .intro-popup-text {
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
#introPopup #introExplanation {
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 0.1);
  margin-bottom: 1.5rem;
}
#introPopup #startScenarioBtn {
  padding: 10px 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--white-text, #fff);
  background-color: var(--primary_red, #8d1b3d);
  color: hsl(0, 100%, 100%);
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}
#introPopup #startScenarioBtn:hover {
  background-color: var(--primary_red, 0.5);
}

/* POPUP */
.popup {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-color);
  border: 1.5px solid var(--text-color);
  border-radius: 1rem;
  z-index: 2000;
  margin-top: 0;
  max-width: 22.5rem;
  min-width: 18.5rem;
}
@media (min-width: 768px) {
  .popup {
    top: 6.5rem;
  }
}
.popup .popup-header {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  align-items: flex-start;
  border-bottom: 1px solid var(--text-color);
}
.popup .popup-header .alert-wrapper {
  height: 0.5rem;
  width: 20%;
}
.popup .popup-header .alert-wrapper img {
  background-color: hsl(0, 100%, 100%);
  padding: 0.2rem;
  width: 100%;
}
.popup .popup-header .popup-text h2 {
  font-family: "verdana", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.popup .popup-header .popup-text p {
  margin-bottom: 0;
}
.popup .popup-actions {
  display: flex;
}
.popup .popup-actions #goToMissionBtn,
.popup .popup-actions #closePopupBtn {
  padding: 0.5rem;
}
.popup .popup-actions #goToMissionBtn:hover,
.popup .popup-actions #closePopupBtn:hover {
  background-color: hsl(0, 0%, 59%);
}
.popup .popup-actions #goToMissionBtn {
  border-radius: 0 0 1rem 0;
  border-left: 1px solid hsl(0, 100%, 100%);
}
.popup .popup-actions #closePopupBtn {
  border-radius: 0 0 0 1rem;
}

.popup button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background: var(--bg-color);
  color: var(--text-color);
}

.hidden {
  display: none;
}

/* task view */
/* VIEWS */
.view {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 0.5rem;
}

.view.active {
  display: block;
}

#mapView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#mapView.active {
  pointer-events: auto;
}

#taskView {
  display: none;
}

html.light-mode #taskView {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  background-color: none;
  background-color: hsla(0, 0%, 100%, 0.1);
}

#taskView.active {
  display: block;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 28%, 0.6);
}

/* List Wrappers */
#activeList-wrapper,
#completedList-wrapper {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  border-radius: 10px;
}

#completedList-wrapper {
  margin-bottom: 4rem;
}

#activeList-wrapper {
  margin-bottom: 1rem;
}

#activeMissionList,
#completedList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Mission card */
.mission-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--task-text);
}
.mission-card h2 {
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.mission-card h3,
.mission-card .mission-title {
  font-family: "verdana", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.438rem;
}

.mission-card-header {
  display: flex;
  justify-content: space-between;
  color: var(--task-text);
  cursor: pointer;
  font-family: "verdana", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.state-locked .mission-card-header {
  cursor: default;
}

.mission-card-header-group {
  align-items: center;
  display: flex;
  gap: 1rem;
}

/* Mission card states */
.mission-desc-wrapper {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.35s ease, opacity 0.25s ease;
  opacity: 1;
}

.mission-desc-wrapper.collapsed {
  max-height: 0;
  opacity: 0;
}

.mission-desc-text {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

.mission-desc {
  font-family: "verdana", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
}

.mission-card.state-locked {
  background-color: hsl(174, 18%, 30%);
}

.mission-card.state-active {
  background-color: hsl(174, 18%, 30%);
  gap: 0;
}

.mission-card.state-completed {
  background-color: hsla(0, 0%, 28%, 0.7);
}

/*Ikoner*/
.material-symbols-outlined {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}

.accordion-icon {
  transition: transform 0.25s ease;
}

.mission-card.is-collapsed .accordion-icon {
  transform: rotate(0deg);
}

.mission-card.is-open .accordion-icon {
  transform: rotate(90deg);
}

.complete-btn {
  padding: 10px 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--white-text, #fff);
  background-color: var(--primary_red, #8d1b3d);
  color: hsl(0, 100%, 100%);
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}
.complete-btn:hover {
  background-color: var(--primary_red, 0.5);
}

.complete-btn:disabled,
.state-completed .complete-btn {
  opacity: 0.5;
  cursor: not-allowed;
}
.complete-btn:disabled:hover,
.state-completed .complete-btn:hover {
  background-color: var(--primary_red, #8d1b3d);
}

/*radio button*/
.option-btn input[type=radio] {
  display: none;
}

.option-btn {
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 59%);
  background-color: hsla(0, 0%, 100%, 0.1);
  display: flex;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
  font-family: "verdana", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
}

.option-btn:hover {
  background: hsla(0, 0%, 100%, 0.25);
}

.option-btn:has(input[type=radio]:checked) {
  background: hsla(0, 0%, 100%, 0.5);
  border-color: hsl(0, 100%, 100%);
}

.state-completed .option-btn:hover {
  background: none !important;
  cursor: not-allowed;
}

.state-completed .option-btn:has(input[type=radio]:checked) {
  background: hsla(0, 0%, 100%, 0.5);
  cursor: not-allowed;
}

.state-locked .option-btn,
.state-completed .option-btn {
  opacity: 0.9;
  cursor: not-allowed;
  background-color: var(--primary_red);
}

/**mission icon**/
.mission-desc-icon.material-symbols-outlined {
  font-size: 2rem;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 1rem;
  color: hsl(174, 18%, 30%);
  max-height: 100%;
}

/* Compass og marker rotation */
#enableCompass {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1000;
  padding: 1rem;
  background: hsl(342, 68%, 33%);
  border: none;
  border-radius: 8px;
}

.leaflet-marker-icon {
  /* Prevent Leaflet's internal transitions from fighting the rotation */
  transition: transform 0.1s linear !important;
  transform-origin: center;
}

/* Coordinates Display */
#coords {
  font-size: 0.75rem;
  color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 2.7rem;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  #coords {
    font-size: 1rem;
    top: auto;
  }
}/*# sourceMappingURL=style.css.map */