/* Spacing */
/* Colors */
/* Typography */
/* Text styles */
/* Map & zone */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "verdana", sans-serif;
  color: hsl(0, 100%, 100%);
}

p {
  font-family: "verdana", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2rem;
}

button {
  cursor: pointer;
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background-color: hsl(0, 0%, 28%);
}

/* Main */
main {
  padding-top: 3rem;
  padding-bottom: 3.813rem;
  height: 100%;
}

/* MAP */
#map {
  /* height: calc(100vh - 48px - 64px); */
  height: 100vh;
  z-index: 0;
}

/* BUNDKNAP */
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.813rem;
  background: hsl(0, 0%, 28%);
  color: hsl(0, 100%, 100%);
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Fjern zoomknapper */
.leaflet-control-zoom {
  display: none;
}

/* POPUP */
.popup {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0, 0%, 28%);
  border: 1.5px solid hsl(0, 100%, 100%);
  border-radius: 1rem;
  z-index: 2000;
  margin-top: 0;
  max-width: 22.5rem;
  min-width: 18.5rem;
}
.popup .popup-header {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  align-items: flex-start;
  border-bottom: 1px solid hsl(0, 100%, 100%);
}
.popup .popup-header .alert-wrapper {
  height: 0.5rem;
  width: 20%;
}
.popup .popup-header .alert-wrapper img {
  background-color: hsl(0, 100%, 100%);
  padding: 0.2rem;
  width: 100%;
}
.popup .popup-header .popup-text h2 {
  font-family: "verdana", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.popup .popup-header .popup-text p {
  margin-bottom: 0;
}
.popup .popup-actions {
  display: flex;
}
.popup .popup-actions #goToMissionBtn, .popup .popup-actions #closePopupBtn {
  padding: 0.5rem;
}
.popup .popup-actions #goToMissionBtn:hover, .popup .popup-actions #closePopupBtn:hover {
  background-color: hsl(0, 0%, 59%);
}
.popup .popup-actions #goToMissionBtn {
  border-radius: 0 0 1rem 0;
  border-left: 1px solid hsl(0, 100%, 100%);
}
.popup .popup-actions #closePopupBtn {
  border-radius: 0 0 0 1rem;
}

.popup button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background: hsl(0, 0%, 28%);
  color: hsl(0, 100%, 100%);
}

.hidden {
  display: none;
}

/* task view */
/* VIEWS */
.view {
  display: none;
  background-color: hsla(0, 0%, 28%, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  min-height: 100%;
}

.view.active {
  display: block;
}

/* List Wrappers */
#activeList-wrapper,
#completedList-wrapper {
  border: 1px solid hsl(0, 0%, 59%);
  padding: 0.5rem;
  border-radius: 10px;
}

#activeMissionList,
#completedList-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Mission card */
.mission-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 100%, 0.6);
}

.mission-card-header {
  display: flex;
  justify-content: space-between;
  color: hsla(0, 0%, 100%, 0.7);
  font-family: "verdana", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.mission-card-header-group {
  align-items: center;
  display: flex;
  gap: 1rem;
}

/* Mission card states */
.mission-desc-wrapper.collapsed {
  display: none;
}

.mission-card.state-locked {
  background-color: hsl(174, 18%, 30%);
}

.mission-card.state-active {
  background-color: hsl(174, 18%, 30%);
}

.mission-card.state-completed {
  background-color: #dc1414;
}/*# sourceMappingURL=style.css.map */